* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: contain;
    /*background-image: url("../img/background_0.png");*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 14px;
    overflow-y: scroll;
    position: relative;
}

